@import "minima";

p {
  text-align: justify;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

li {
	padding-top: 0.25em;
  padding-bottom: 0.25em;
}

table {
  margin-bottom: 1em;
  border: transparent;
  tr {
    &:nth-child(even) {
      background-color: transparent;
    }
  }
  th, td {
    padding: 0.33em;
  }
  th {
    background-color: transparent;
    border: none;
    border-bottom-color: transparent;
  }
  td {
    border: none;
  }
}

footer {
  background-color: #fff;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #ccc;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-info p, .footer-social a {
  margin: 0 10px;
}

.footer-social a {
  text-decoration: none;
  color: #0073e6;
}

.footer-social a:hover {
  color: #005bb5;
}
